html, body {
    height: 100%;
}

.Home {
    height: 100vh;
    background-image: url('../../img/dice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}