* {
    transition-duration: 0.4s;
}

input:focus {
    outline: none;
    border-bottom-color: maroon;
}

input:hover {
    border-bottom-color: maroon;
}

button:focus {
    outline: none;
    background-color: maroon;
}

button:hover {
    background-color: maroon;
}

.mainBlock {
    margin: 0% 5%;
    width: 25%;
    height: 75%;
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 81, 81, 0.75);
    border-radius: 5%
}

.inputBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputDiv {
    margin: 0% 10%
}

.input {
    width: 90%;
    color: white;
    font-size: 1.5vw;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
}

.button {
    width: 40%;
    height: 20%;
    align-self: center;
    justify-self: flex-end;
    background-color: rgba(82, 81, 81, 0.75);;
    border-color: white;
    color: white;
    border-radius: 10px;
    font-size: 1.5vw;
    margin: 10% 0%;
}

.textTitle {
    align-self: center;
    color: white;
    font-size: 3vw;
}

.text {
    color: white;
    font-size: 1.5vw
}